<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flavy.tugashariraya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/thr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tugas_empatAct"></activity>
        <activity android:name=".tugas_tigaAct" />
        <activity android:name=".tugas_duaAct" />
        <activity android:name=".tugas_satuAct" />
        <activity android:name=".homeAct" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>